{% if rows %}
	<div class="container">
		<div class="row">
			{{ title_prefix }}
			<div class="title1 text-left">
				<h2>{{ title }}</h2>
			</div>
			{{ title_suffix }}
			{{ rows }}
			{{ pager }}
		</div>
	</div>
{% endif %}