{% if node is defined and node.field_logo is not empty %}
    {% set logo = file_url(node.field_logo.entity.fileuri) %}
{% endif %}
{% if node is defined and node.field_menu_style is not empty %}
    {% set menu_style = node.field_menu_style.value %}
{% else %}
	{% set menu_style = 'menu1' %}
{% endif %}
{% if menu_style == 'menu1' %}
	<header class="header">
	    <div class="container">
	        <!-- Menu -->
	        <div class="navbar yamm navbar-default">
	            <div class="container">
	                <div class="navbar-header">
	                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
	                    {% if page.header_branding %}
	                    	{{ page.header_branding }}
	                    {% else %}
	                    <a href="{{ front_page }}" title="{{ 'Home'|t }}" class="navbar-brand logo" rel="home" style="background: url({{ logo }});"></a>
	                    {% endif %}
	                </div>
	                <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">
	                    <nav>
	                        <div class="skroll-header">
	                            <ul class="nav navbar-nav onemenu">
	                                <li class="skroll-active"><a href="#">{{ 'Home'|t }}</a></li>
	                            </ul>
	                        </div>
	                    </nav>
	                </div>
	            </div>
	        </div>
	    </div>
	</header>
{% else %}
	<header class="header whitebg headr-style-1">
	    <div class="container">
	        <!-- Menu -->
	        <div class="navbar yamm navbar-default">
	            <div class="container">
	                <div class="navbar-header">
	                    <button type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
	                    {% if page.header_branding %}
	                    	{{ page.header_branding }}
	                    {% else %}
	                    <a href="{{ front_page }}" title="{{ 'Home'|t }}" class="navbar-brand logo" rel="home" style="background: url({{ logo }});"></a>
	                    {% endif %}
	                </div>
	                <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">
	                    <nav>
	                        <div class="skroll-header">
	                            <ul class="nav navbar-nav onemenu">
	                                <li class="skroll-active"><a href="#">{{ 'Home'|t }}</a></li>
	                            </ul>
	                        </div>
	                    </nav>
	                </div>
	            </div>
	        </div>
	    </div>
	</header>	
	<!-- end Header -->
{% endif %}