{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
<!DOCTYPE html>
<html{{ html_attributes }}>
    <head>
        <head-placeholder token="{{ placeholder_token|raw }}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{ head_title|safe_join(' | ') }}</title>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {{ layout_css|raw }}
        <css-placeholder token="{{ placeholder_token|raw }}">
        <js-placeholder token="{{ placeholder_token|raw }}">
        {% if custom_css is not empty %}
        <!-- Custom CSS -->
        <style type="text/css" media="all">
            {{ custom_css|raw }}
        </style>
        {% endif %}
        {% if tracking_code is not empty %}
            <!-- Tracking code -->
            {{ tracking_code|raw }}
        {% endif %}
        {% if disable_switch == 'on' %}
        {{ attach_library('probes/style-selector') }}
        <!-- Style Switcher Colors -->
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/colors/red.css" title="red" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/colors/orange.css" title="orange" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/colors/olive.css" title="olive" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/colors/green.css" title="green" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/colors/light-red.css" title="lightred" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/colors/violet.css" title="violet" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/colors/sea.css" title="sea" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/colors/lightblue.css" title="lightblue" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/colors/lightgreen.css" title="lightgreen" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-default.css" title="pattern-default" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-one.css" title="pattern-one" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-two.css" title="pattern-two" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-three.css" title="pattern-three" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-four.css" title="pattern-four" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-five.css" title="pattern-five" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-six.css" title="pattern-six" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-seven.css" title="pattern-seven" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-eight.css" title="pattern-eight" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-nine.css" title="pattern-nine" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-ten.css" title="pattern-ten" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-eleven.css" title="pattern-eleven" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-twelve.css" title="pattern-twelve" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-thirteen.css" title="pattern-thirteen" />
        <link rel="alternate stylesheet" type="text/css" href="{{ base_path ~ directory }}/css/bg-patterns/pattern-fourteen.css" title="pattern-fourteen" />
        {% endif %}
    </head>
    <body{{ attributes }} {% if bg_pattern is defined %}style="background-image:url('{{ bg_pattern }}');"{% endif %}>
        <a href="#main-content" class="visually-hidden focusable">
          {{ 'Skip to main content'|t }}
        </a>
        <div class="site-wrapper">
            {{ page_top }}
            {{ page }}
            {{ page_bottom }}
        </div>
    {% if disable_switch == 'on' %}
        <!-- style switcher -->
        <div id="style-selector">
            <div class="style-selector-wrapper"> <span class="title">{{ 'Choose Theme Options'|t }}</span>
                <div> <span class="title-sub2">{{'Choose Layout'|t }}</span>
                    <div class="styles">
                        <ul class="layout-style">
                            <li><a href="#" class="wide btn btn-default black">{{ 'Wide'|t }}</a></li>
                            <li><a href="#" class="boxed btn btn-default black">{{ 'Boxed'|t }}</a></li>
                        </ul>
                    </div>
                    <span class="title-sub2">{{ 'Predefined Color Skins'|t }}</span>
                    <ul class="styles">
                        <li><a href="#" onClick="setActiveStyleSheet('blue'); return false;" title="Blue"><span class="pre-color-skin1"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('red'); return false;" title="Red"><span class="pre-color-skin2"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('orange'); return false;" title="Orange"><span class="pre-color-skin3"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('olive'); return false;" title="Olive"><span class="pre-color-skin4"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('green'); return false;" title="Green"><span class="pre-color-skin5"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('lightred'); return false;" title="Light Red"><span class="pre-color-skin6"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('violet'); return false;" title="Violet"><span class="pre-color-skin7"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('sea'); return false;" title="Sea"><span class="pre-color-skin8"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('lightblue'); return false;" title="Light Blue"><span class="pre-color-skin9"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('lightgreen'); return false;" title="Light Green"><span class="pre-color-skin10"></span></a></li>
                    </ul>
                    <!-- end Predefined Color Skins -->
                    <span class="title-sub2">{{ 'BG Patterns for Boxed'|t }}</span>
                    <ul class="styles noborrder">
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-default'); return false;"><span class="bg-patterns1"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-one'); return false;"><span class="bg-patterns2"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-two'); return false;"><span class="bg-patterns3"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-three'); return false;"><span class="bg-patterns4"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-four'); return false;"><span class="bg-patterns5"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-five'); return false;"><span class="bg-patterns6"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-six'); return false;"><span class="bg-patterns7"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-seven'); return false;"><span class="bg-patterns8"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-eight'); return false;"><span class="bg-patterns9"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-nine'); return false;"><span class="bg-patterns10"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-ten'); return false;"><span class="bg-patterns11"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-eleven'); return false;"><span class="bg-patterns12"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-twelve'); return false;"><span class="bg-patterns13"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-thirteen'); return false;"><span class="bg-patterns14"></span></a></li>
                        <li><a href="#" onClick="setActiveStyleSheet('pattern-fourteen'); return false;"><span class="bg-patterns15"></span></a></li>
                    </ul>
                    <!-- end BG Patterns -->
                    <a href="#" class="close icon-chevron-right"><i class="fa fa-wrench"></i></a></div>
            </div>
        </div>
        <!-- end style switcher -->
    {% endif %}
        <js-bottom-placeholder token="{{ placeholder_token|raw }}">
        <a href="#" class="scrollup"></a> 
        <!-- end scroll to top of the page--> 
    </body>
</html>
