{% if product_header_layout is not empty %}
    {% set header_layout = product_header_layout %}
{% endif %}
{% if product_header_class is not empty %}
    {% set header_class = product_header_class %}
{% else %}
	{% set header_class = '' %}
{% endif %}
{% if product_topbar_display is not empty %}
    {% set topbar_display = product_topbar_display %}
{% endif %}
{% if product_topbar_background_color is not empty %}
    {% set topbar_background_color = product_topbar_background_color %}
{% else %}
	{% set topbar_background_color = '' %}
{% endif %}
{% if product_topbar_class is not empty %}
    {% set topbar_class = product_topbar_class %}
{% else %}
	{% set topbar_class = '' %}
{% endif %}
{% include directory ~ '/templates/layout/header.html.twig' %}
<div class="page-header seven" {% if product_page_title_bgimage is not empty %} style="background-image: url({{ product_page_title_bgimage }});" {% endif %}>
	<div class="container">
		<div class="col-md-6 left-padd0">
			<h3 class="font30 nomargin uppercase">{{ current_page_title }}</h3>
			{% if shop_slogan is not empty %}
				<h4 class="font18 font-thin">{{ shop_slogan }}</h4>
			{% endif %}
		</div>
		{% if page.breadcrumb %}
		<div class="col-md-6">
			{% set product_breadcrumb_class_title = '<span class="' ~ product_breadcrumb_class_title ~ '"' %}
			{{ page.breadcrumb|render|str_replace('<span class=""', product_breadcrumb_class_title)|raw }}
		</div>
		{% endif %}
	</div>
</div>
<!-- end page header -->
{% if page.content %}
<div class="section-lg">
    <div class="container">
      	<div class="row">
			{{ page.content }}
      	</div>
    </div>
</div>
{% endif %}
{% if page.section %}
    {{ page.section }}
{% endif %}
{% if product_footer_layout is not empty %}
  {% set footer_layout = product_footer_layout %}
{% endif %}
{% if product_footer_bg_color is not empty %}
  {% set footer_background_color = product_footer_bg_color %}
{% endif %}
{% if product_footer_bg is not empty %}
  {% set footer_bg_image = product_footer_bg %}
{% else %}
  {% set footer_bg_image = '' %}
{% endif %}
{% if product_footer_class is not empty %}
  {% set footer_class = product_footer_class %}
{% else %}
  {% set footer_class = '' %}
{% endif %}
{% include directory ~ '/templates/layout/footer.html.twig' %}