{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if view.current_display == 'block_latest_news_style1' or view.current_display == 'block_latest_news_style4' or view.current_display == 'block_latest_news_style5' or view.current_display == 'block_latest_news_style3b' or view.current_display == 'block_latest_news_style_1b' %}
	{% if rows %}
	<div class="container">
		<div class="row">
			{{ title_prefix }}
			{{ title }}
			{{ title_suffix }}
			{% if header %}
			<div class="title1 text-center">
				{{ header }}
			</div>
			{% endif %}
			{{ rows }}
		</div>
	</div>
	{% endif %}
{% elseif view.current_display == 'block_latest_news_style2' %}
	{% if rows %}
	<div class="container">
		{{ title_prefix }}
		{{ title }}
		{{ title_suffix }}
		{% if header %}
			{{ header }}
		<div class="title-line wide50 color m-top1"></div>
		{% endif %}
		<div class="row">
			{{ rows }}
		</div>
	</div>
	{% endif %}
{% elseif view.current_display == 'block_latest_news_style2b' %}
	{% if rows %}
	<div class="container">
		{{ title_prefix }}
		{{ title }}
		{{ title_suffix }}
		{% if header %}
		<div class="title1 text-center m-bottom5">
			{{ header }}
		</div>
		{% endif %}
		<div class="row">
			{{ rows }}
		</div>
	</div>
	{% endif %}
{% elseif view.current_display == 'block_latest_news_style3' %}
	{% if rows %}
	<div class="container">
		<div class="row">
			{{ title_prefix }}
			{{ title }}
			{{ title_suffix }}
			{% if header %}
			<div class="title1 left-padd1">
				{{ header }}
			</div>
			{% endif %}
			{{ rows }}
		</div>
	</div>
	{% endif %}
{% elseif view.current_display == 'block_latest_news_timeline_style' %}
	{% if rows %}
	<div class="container blog-timeline">
		<div class="row">
			{{ title_prefix }}
			{{ title }}
			{{ title_suffix }}
			{% if header %}
			<div class="title1 text-center">
				{{ header }}
			</div>
			{% endif %}
			{{ rows }}
		</div>
	</div>
	{% endif %}
{% elseif view.current_display == 'block_latest_news_style6' %}
	{% if rows %}
	<div class="container">
      	<div class="row">
        	<div class="col-md-6">
        		{{ title_prefix }}
				{{ title }}
				{{ title_suffix }}
				{% if header %}
				<div class="title1 text-left">
					{{ header }}
				</div>
				{% endif %}
				{{ rows }}
			</div>
			{% if footer %}
			<div class="col-md-6 m-bottom4">
					{{ footer }}
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}
{% elseif view.current_display == 'block_latest_news_style8' %}
	{% if rows %}
	<div class="container">
      	<div class="row">
        	<div class="col-md-6">
        		{{ title_prefix }}
				{{ title }}
				{{ title_suffix }}
				{% if header %}
					{{ header }}
				{% endif %}
				{{ rows }}
			</div>
			{% if footer %}
			<div class="col-md-6 m-bottom4">
					{{ footer }}
			</div>
			{% endif %}
		</div>
	</div>
	{% endif %}
{% elseif view.current_display == 'block_latest_news_style7' %}
	{% if rows %}
	<div class="container">
      	<div class="row">
      		{% if footer %}
			<div class="col-md-6 m-bottom4">
					{{ footer }}
			</div>
			{% endif %}
        	<div class="col-md-6">
        		{{ title_prefix }}
				{{ title }}
				{{ title_suffix }}
				{% if header %}
				<div class="test m-bottom3">
					{{ header }}
					<div class="title-line wide50 color m-top2"></div>
				</div>
				{% endif %}
				{{ rows }}
			</div>
		</div>
	</div>
	{% endif %}
{% elseif view.current_display == 'block_latest_news_style9' %}
	{% if rows %}
	<div class="container">
      	<div class="row">
      		{% if header %}
        	<div class="col-md-3">
				{{ header }}
			</div>
			{% endif %}
			<div class="col-md-9 pro-list">
				{{ rows }}
        	</div>
        </div>
    </div>
	{% endif %}
{% elseif view.current_display == 'block_latest_news_style10' %}
	{% if rows %}
	<div class="container">
    	<div class="row">
      		<div class="col-md-12">
      		{% if header %}
      			<div class="title1 text-center m-bottom5">
					{{ header }}
				</div>
			{% endif %}
				{{ rows }}
			</div>
		</div>
	</div>
	{% endif %}
{% endif %}