{% if node.field_page_style is not empty %}
    {% set page_style = node.field_page_style.value %}
{% else %}
    {% set page_style = '' %}
{% endif %}
{% if not page %}
{% else %}
<div class="container">
	{% if page_style == 'contact1' %}
	<div class="row">
		<div class="col-md-4">
			{{ content.body['#object'].body.value|raw }}
		</div>
		<div class="col-md-8">
			{{ content.yamlform }}
		</div>
	</div>
	{% elseif page_style == 'contact2' %}
	<div class="row">
		{{ content.body['#object'].body.value|raw }}
		<div class="col-md-12 m-top3">
			{{ content.yamlform }}
		</div>
    </div>
    {% elseif page_style == 'contact3' %}
    <div class="row">
      	<div class="col-md-8">
			{{ content.yamlform }}
      	</div>
      	<div class="col-md-4">
      		{{ content.body['#object'].body.value|raw }}
      	</div>
    {% else %}
    	{{ content }}
	{% endif %}
</div>    
{% endif %}