<!--* Add Js One Page -->
{{ attach_library('probes/one-page') }}
{% if node is defined and node.field_menu_style is not empty %}
    {% set menu_style = node.field_menu_style.value %}
{% else %}
	{% set menu_style = 'menu1' %}
{% endif %}
{% if menu_style != 'menu3' %}
{% include directory ~ '/templates/layout/header-onepage.html.twig' %}
{% endif %}
<div class="skroll-content">
	{{ messages }}
	{% if page.slideshow %}
	<section> 
      	{{ page.slideshow }}
    </section>
	{% endif %}
	{{ page.content }}
	{% if menu_style == 'menu3' %}
		{% include directory ~ '/templates/layout/header-onepage.html.twig' %}
	{% endif %}
	{% if page.section_one %}
      	{{ page.section_one }}
	{% endif %}
	{% if node.field_footer_layout is not empty %}
	{% set footer_layout = node.field_footer_layout.value %}
	{% endif %}
	{% if node.field_footer_background_color is not empty %}
		{% set footer_background_color = node.field_footer_background_color.color %}
	{% else %}
		{% set footer_background_color = '' %}
	{% endif %}
	{% if node.field_footer_background_image is not empty %}
		{% set footer_bg_image = file_url(node.field_footer_background_image.entity.fileuri) %}
	{% else %}
		{% set footer_bg_image = '' %}
	{% endif %}
	{% if node.field_footer_class is not empty %}
		{% set footer_class = node.field_footer_class.value %}
	{% else %}
		{% set footer_class = '' %}
	{% endif %}
	{% if page.footer4 or footer_copyright_message %}
	<section>
		{% include directory ~ '/templates/layout/footer.html.twig' %}
	</section>
	{% endif %}
</div>
