{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
<div{{ attributes }}>
	<div class="container">
	  	{{ title_prefix }}
	  	{% if label %}
	  	<div class="title1 text-center">
	    	<h2{{ title_attributes.addClass('uppercase') }}>{{ label }}</h2>
	    </div>
	  	{% endif %}
	  	{{ title_suffix }}
	  	{% block content %}
	  	<div class="nobottommargin">
	  		<div class="input-group input-group-lg divcenter newsletter" style="max-width:600px;">
	  			<span class="input-group-addon"><i class="fa fa-paper-plane"></i></span>
	    		{{ content|render|str_replace_first('class="form-email', 'class="form-email form-control email subscribe')|str_replace_first('placeholder=""','placeholder="Enter your Email"')|str_replace_first('value="Subscribe"', 'value="Subscribe Now"')|str_replace_first('class="button', 'class="button btn btn-default uppercase')|raw }}
	    	</div>
	    </div>
	  	{% endblock %}
  	</div>
</div>
