{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
	<div class="container text-center">
      	<div class="row">
	    	{{ title_prefix }}
		    {% if configuration.views_label %}
		    <div class="title1 text-center">
		        <h2 class="uppercase">{{ configuration.views_label|raw }}</h2>
		    </div>
		    {% endif %}
		    {{ title_suffix }}
		    {% block content %}
		        {{ content|render|str_replace_first('<form', '<form class="m-top5 exposed-search"')|str_replace('js-form-item form-item', 'col-md-2 col-sm-6 js-form-item form-item')|str_replace('class="form-select"', 'class="selectpicker-full form-select"')|str_replace('class="form-actions', 'class="col-md-2 col-sm-6 form-actions')|str_replace('form-submit', 'btn black-button fullwide uppercase form-submit')|raw }}
		    {% endblock %}
		</div>
	</div>
</div>
