<div{{ attributes }}>
	{% if label %}
	{{ title_prefix }}
	{% set label = '<div class="col-md-9 pro-list"><h2 class="uppercase font30">' ~ label ~ '</h2>' %}
	{{ content|render|str_replace('<div class="col-md-9 pro-list">', label)|raw }}
	{{ title_suffix }}
	{% else %}
	{{ content }}
	{% endif %}	
</div>